body{
	font-size: large;
}
.hidden{
	display: none !important;
}
li{
	padding: 8px;
	cursor: pointer;
	font-size: large;
}
li:hover{
	background: #FFB05C
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.label{
	font-weight: bold;
}
.label>span{
	font-weight: normal;
}
#loading{
	display: flex;
    flex-direction: column;
    align-items: center;
}
#topinfo{
	display: flex;
	align-items: center;
}
#deviceinfo{
	margin-top: 16px;
}
#iconcontainer{
	background-color: #FF9800;
    border-radius: 1000px;
    width: 70px;
    height: 70px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}
#icon{
	width: 50px;
	height: 50px;
}
#batterypercent{
    position: absolute;
	top: 70px;
	font-size: 12px;
}
#name{
	margin-left: 16px;
	font-size: 130%;
}
#version{
	margin-left: 8px;
	font-size: 70%;
}
#nameversion{
    display: flex;
	align-items: baseline;
	position: relative;
}
#model{
	font-size: 50%;
	align-self: stretch;    
	position: absolute;
    top: 30px;
    left: 16px;
}
#internalstorage{
	margin-top: 
}
#externalstorage{

}
.storage{
	margin-top: 8px;
}
.storage > .title{
	font-size: medium;
	display: flex;
}
.storage > .title > .size{
	flex-grow: 1;
	text-align: end;
}
.storage > .bar{
	width: 100%;
	background-color: grey;
	border-radius: 10px;
}
.storage > .bar > .using{
	width: 0%;
	background-color: green;
	border-radius: 10px;
	transition: all 1s ease-out;
	padding-left: 8px;
	color: white;
}
.section{
}
.volume {
    display: flex;
}
.volume > img {
    width: 30px;
    height: 30px;
}
.volume > input[type="range"] {
    display: inline;
}
.dndLabel{
	color: var(--theme-text-color);
}
#refresh{
	background-color: #FF9800;
	border-radius: 1000px;
	position: fixed;
	top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}