:root {

}
html {
	background-color: var(--theme-background-color);
	color: var(--theme-text-color);
}
body{
	padding-left: 24px;
	padding-right: 24px;
	height: auto;
	width: auto;
	min-height: auto;
}
#title{
	margin-top:16px;
	color: var(--theme-title-color);
	font-size: x-large;
    height: auto;
}
#subtitle{
	font-size: large;
    padding-left: 8px;
    height: auto;
    padding-top: 16px;
}
#buttons{
	text-align: right;
}
input[type='button']:hover {
	box-shadow: 0px 2px 12px -2px gray !important;    
	background-color: var(--theme-accent-color);
	color: white;
}
input[type='button']:active {
	background-color: var(--global-color) !important;
}
input[type='text'], input[type='password'] {
	background: none;
	border: none;
	border-bottom: solid 1px gray;
	margin: 4px;
	opacity: 0.6;
	outline: none;
	padding: 4px;
}
input[type='text']:focus, input[type='password']:focus {
	opacity: 1;
	border-bottom: solid 1px var(--global-color);
}
input[type='button'] {
	background-color: var(--theme-background-color);
	border-radius: 2px;
	border: 0;
	font-size: 0.8rem;
	outline: 0;
	padding: 8px 16px 8px 16px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
input[type='button']#resetcolorbutton, input[type='button']#configure_keyboard_shortcuts, input[type='button']#starttests {
	box-shadow: 0px 2px 6px -1px gray;
}
ul li{
	list-style-type: initial;
}
svg{
	fill: var(--theme-accent-color);
}
[type="checkbox"]:checked+label:before{
    border-right: 2px solid var(--theme-accent-color);
    border-bottom: 2px solid var(--theme-accent-color);
}
[type="radio"]:checked+label:after{
	border: 2px solid var(--theme-accent-color);
    background-color: var(--theme-accent-color);
}