:root {
	--theme-button-color: #FF9800;
	--theme-button-color-lowlight: #757575;
	--theme-text-color: black;
	--theme-background-color: white;
	--theme-background-color-hover: #eeeeee;
	--theme-background-color-panel: #F0F0F0;


	--theme-text-color-link: var(--theme-button-color);
	--theme-tab-color: var(--theme-button-color);

	
}