:root {
  --global-color: #FF9800;
  --global-color-light: #FFB05C;
  --global-color-faded: #FFE0B2;
  --global-color-gray: #F0F0F0;
}
a{
	color: var(--global-color);
}
body {
	width: 440px;
}
#tabsplaceholder{
	text-align: center;
	overflow: hidden;
}
.devicecommands{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 510px;
}

.devicecommandsleft{
    display: flex;
    flex-direction: column;
    background-color: white; 
    width: 100%;
    height: 510px;
}
.commands{
	border-top: #cccccc 1px solid;
	overflow-y: auto;
	flex: 1;
}
#deviceiconcontainer{
	border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
}
.deviceicon{
    height: 30px;
    display: block;
    margin: auto;
}
.device{
	display: flex;
	margin-top: 5px;
	flex-direction: column;
	align-items: center;
    width: 70px;
	opacity: 0.4;
	cursor: pointer;
    transition: all 0.3s ease;
}
.device:hover {
	opacity: 0.8;
}
.devicecommandsleft .device{
}
.selecteddevice{
	opacity: 1;
}
.device #deviceiconcontainer{
	background-color: var(--global-color);
}
.selecteddevice #deviceiconcontainer{
}
.devicecommandsleft .selecteddevice{
}
.devicecommands .selecteddevice::after{
	content: ' ';
	position: absolute;
	height: 100%;
	width: 2px;
	right: -2px;
	top: 0;
	background: antiquewhite;
}
.devicecommandsleft .selecteddevice::before{
	
}
.devicebutton{
    font-weight: bold;
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}
.devicebutton.disabled{
	display: none;
}
.devicebutton:hover{
	background: #eeeeee;
}
#devicebuttondrag{
	visibility: hidden;
}
.devicebutton:hover #devicebuttondrag{
	visibility: visible;
}
#devicebuttonimage{
	width: 24px;
	height: 24px;
	margin-right: 32px;
}
a#link{
	color: #757575;
    font-size: large;
    font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
a#link:hover{
	color: var(--global-color);
}
.devicename{
    font-weight: bold;
    width: 69px;   
    word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis; 	
	font-family: 'Roboto', sans-serif;
}
#devices{
}
#devicelist{
    text-align: center;
	display: flex;
	padding: 6px;
	flex-wrap: wrap;
	justify-content: flex-start;
}
#notifications{
	display: flex;
	align-items: center;
	padding: 8px;
	flex-direction: column;
    overflow-y: scroll;
    height: 510px;
    background-color: var(--global-color-gray);
}
img#clearallnotifications {
    align-self: flex-end;
    margin-right: 8px;
    cursor: pointer;
}
.button-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;		  
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.button {

  padding: 5px;
  width: 130px !important;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
  
  line-height: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.button-link{
	width: 190px !important;
	height: 30px !important;
	line-height: 30px !important;
	padding: 0px;
	margin: 5px;
	font-family: 'Roboto', sans-serif;
	background: #424242;
	border-radius: 4px;
}
.button-link:hover{
	background: var(--global-color);
}
td{
	padding: 0px !important;
	text-align: center !important;
}
#topbar {
  display: none;
}
.tabselement{
	display: flex;
	background-color: var(--global-color);
	justify-content: flex-start;
	font-size: medium;
}
#tabscontainer{
	position: relative;
	z-index:100;
	height:54px;
	box-shadow: 0px -1px 6px black;
}
#tabs {
	flex-grow: 1;
	position:relative;
	height:100%;
}
#tools{			
	position: relative;
	margin-right: 8px;
	display: flex;
	align-self: center;
}
#currenttabtitle{
	padding-left: 10px;
	padding-bottom: 3px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	display: none;
}
.tab {
	cursor: pointer; 
	cursor: hand;
	padding-left: 12px;
	padding-right: 12px;
	align-self: center;
	opacity: 0.6;
	height: 100%;
	transition: all 0.3s ease;
}
.tab:not(.selected):hover {
	background-color: var(--global-color-light);
}
.tabIcon{
  	cursor: pointer;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    height:100%;
}
#tools .tab{
	display: inline;
	padding:0;
	opacity: 1;
}
img.tabIcon{
	width: 40px;
	padding: 8px;
}
.selected{
	opacity: 1;
	box-shadow: 0px -4px 0px white inset;
}
#usericon {    
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 2px;
	cursor: pointer;
}
#topBarText {
  flex-grow: 1;
	text-align: center;
}
.rotating{			
	  animation: rotating 0.5s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#sms{
    height: 510px;
    display: flex;
	flex-direction: column;	
    font-family: "Roboto", sans-serif;
}
#smsback{
	display: flex;
	flex-direction: column;
}
#smsback img {
	width: 24px;
}
#smstitlecontainer{
	position: absolute;
    display: flex;
	flex-direction: row;
	color: white;
	background-color: var(--global-color);
	font-weight: bold;
    font-size: large;
    margin: 1em 1em 1em 1em;
    padding: 8px;
	cursor: pointer;
	z-index:80;
	transition: all 0.3s ease;
}
#smstitlecontainer:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12);
	background-color: var(--global-color-light);
}
#smstitlecontainer.hidden{
	display: none;			
}
#smstitle{			
	margin-left: 8px;
}
#smssendcontainer{	    
	margin: 0;
	padding: 8px;
	background-color: var(--global-color-gray);
	display: flex;
	align-items: center;		
	z-index: 60;
}
#smssendcontainer.hidden{
	display: none;			
}
#smssend {
	display: flex;
	flex-direction: column;
	padding: 1px;
    cursor: pointer;
}
#smsinput{			
	background-color: white;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	font-size: 1rem;
	height: 3rem;
	margin: 8px;
	max-height: 5rem;
	overflow: auto;
	padding: 8px;
	resize: vertical;
}
#smsinput::-webkit-resizer {
	background: url("icons/resize_handle.png") right bottom/50% 50% no-repeat;
}
#smsinput:focus{
	outline: none;
}
#smscontainer {
    display: flex;
	flex-direction: column;			
    overflow-y: scroll;
    height: 100%;
    background-color: var(--global-color-gray);
}
#smscontainer div.smsmessagecontainer:first-of-type {
	margin-top:80px;
}
.smscontact{
	box-sizing: initial;
    padding: 12px 16px 12px 16px;
	cursor: pointer;
	background-color: white;
	z-index:20;
	transition: all 0.1s ease;
}
.smscontact:hover {
	background-color: var(--global-color-gray);
}
.smscontactname{
    font-size: medium;
	font-weight: bold;
}
.smstextanddate {
    display: flex;
    justify-content: space-between;
    font-size: small;
}
.smscontacttext{
    color: #777777;
    flex-grow: 1;
	max-width: 320px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.smscontactdate {
    color: #aaaaaa;
	margin-left: 8px;
	text-align: end;
	align-self: flex-end;
}
.smsmessagecontainer{
    display: block;
    z-index:50;
    margin: 8px 0px 8px 0px;
}
.smsmessage {    
	padding: 12px 16px 12px 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    margin-left: 100px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
	margin-right: 16px;
}
.smsmessage.received{	
    background-color: var(--global-color-faded);
    margin-right: 100px;
    margin-left: 16px;
}
.smsbubbletriangle{
    color: white;
    position: relative;
    font-size: xx-large;    
    float: right;
    top: -16px;
    right: 6px;	
    text-align: end;
}
.smsbubbletrianglereceived{		    
	color: #FFE0B2;
    position: relative;
    font-size: xx-large;   
    float: left;
    left: 6px;
    top: -16px;
}
.smsmessagetext {
    font-size: medium;		    
	word-wrap: break-word;
}
.smsmessagedate {
    margin-top: 8px;
    color: #999999;
	flex-grow: 1;
}
#smsmessagebottom {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#smsmessageprogress.hidden{
	display: none;
}
#smsmessageprogress img{
	width: 15px;
	height: 15px;
}
.btn-floating:hover {
	background-color: var(--global-color-light) !important;
}
#newsmsbuttonicon{
    transform: rotate(180deg);
}
#newsmsbutton.hidden{
	display: none;
}
#contactfindcontainer{
	display: flex;
	align-items: center;	
	margin:0;
	padding:16px;
	background-color: var(--global-color-gray);
}
#contactfindcontainer.hidden{
	display: none;
}
#contactfindinput{		
	background-color: white;
	margin: 8px 8px 8px 144px;
	padding: 0px 8px 0px 8px;
	border: none;
	box-shadow: none;
	border-radius: 4px;
}
.btn-floating{
	background: var(--global-color) !important;
}