:root {
	--global-color: #FF9800;
}
body {
	background: #fafafa;
	-webkit-font-smoothing: antialiased; /*For Mac OS / OSX*/
	margin: 0px;
}
h1 { color: #5a5a5a; }
h2 {
	color: #5a5a5a;
	font-size: 1.25rem;
}
h3 { color: #FF7A00; }
h4 {
	color: #A75000;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
h5 { color: #FF7A00; }
#Settings {
	display: flex;
	flex-direction: column;
}
#nodevices {
	background-color: red;
	font-size: large;
	font-weight: bolder;
}
#username {
	color: white;
	align-self: center;
	font-weight: bold;
	margin-left: 10px;
}
.color-primary-0 { color: #FF7A00 } /* Main Primary color */
.color-primary-1 { color: #FFA756 }
.color-primary-2 { color: #FF8F27 }
.color-primary-3 { color: #D56600 }
.color-primary-4 { color: #A75000 }
[advanced]::before {
	content: 'ADVANCED: ';
	font-size: 200%;
	font-weight: bold;
}
[advanced] {
	background-color: lightcoral;
	padding: 10px;
}
#devicesAutoClipboard {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
}
#devicesAutoClipboard label.device_selection {
	position: relative;
	cursor: pointer;
	margin: 2px;
}
.clipboardDevice {
	position: relative;
	background-color: gray;
	border-radius: 2px;
	border: none;
	display: flex;
	align-items: center;
	height: 100px;
	width: 100px;
	margin: 2px;
	opacity: 0.6;
	transition: all 0.3s ease;
}
.clipboardDevice:hover {
	box-shadow: 0 2px 10px -2px black;
}
.clipboardDevice span {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	min-height: 1.5rem;
	width: 100%;
	bottom: 0;
	text-align: center;
}
.clipboardDevice img {
	margin: auto;
	padding: 4px;
	width: 64px;
}
#devicesAutoClipboard input[type='checkbox'] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
#devicesAutoClipboard input[type='checkbox']:checked ~ div.clipboardDevice {
	background-color: var(--global-color);
	opacity: 1;
}
#optionTabs {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	align-self: center;
}
[tab] {
	min-width: 600px;
	width: 40%;
	align-self: center;
}
[tab] :first-child {
		/*margin-top: 10px;*/
}
[showtab] {
	padding: 12px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.7;
	transition: all 0.3s ease;
}
[showtab]:not(.selected):hover {
	background-color: white;
}
[showtab].selected {
	box-shadow: 0px -4px 0px white inset;
	color: white;
	opacity: 1;
}
#topbar {
	display: flex;
	flex-direction: column;
	background-color: var(--global-color);
	padding: 18px 12px 0 12px;
	box-shadow: 0 -1px 4px black;
}
#userinfo {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-self: center;
}
#advancedoption {
	display: flex;
	position:absolute;
	flex-direction: row;
	align-items: center;
	right: 15px;
}
#usericon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-left: 10px;
}
#appinfo {
	display: flex;
	justify-content: space-between;
	align-self: center;
	width: 40%;
	min-width: 600px;
	padding: 12px;
}
#appiconandname {
	display: flex;
	flex-direction: row;
	align-self: center;
}
#appicon {
	width: 50px;
	height: 50px;
}
#appname {
	font-size: xx-large;
	color: white;
	font-weight: bolder;
	margin-left: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#toggleadvanced {
	height: 30px;
}
.hidden {
	display: none;
}
div.optionContainer {
	padding: 24px;
	background-color: white;
	margin: 16px;
	border-radius: 4px;
	box-shadow: 0 2px 6px -3px black;
}
div.optionContainer h2:first-of-type {
	margin-top: 0;
}
div.optionContainer > div {
	padding: 4px;
}
ul#configure_list {
	font-size: 1.2em;
	list-style-position: inside;
	margin: 8px 0 8px 0;
	padding: 4px;
}
textarea#notificationwebsites {
	border: none;
	border-bottom: solid 1px gray;
	min-height: 10rem;
	opacity: 0.6;
	resize: vertical;
	width: 100%;
}
textarea#notificationwebsites:focus {
	outline: none;
	opacity: 1;
	border-bottom: solid 1px var(--global-color);
}
label.selection {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.2em;
	padding: 4px;
	cursor: pointer;
	position: relative;
}
label.selection input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
label.selection .selection_indicator {
	margin: 4px;
	min-width: 16px;
	width: 16px;
	height: 16px;
	background: url('icons/checkbox_blank.png') 0px 0px/100% 100%;
}
label.selection input:checked ~.selection_indicator {
	opacity: 0.5;
	background: url('icons/checkbox.png') 0px 0px/100% 100%;
}
input[type='button'] {
	background-color: white;
	border-radius: 2px;
	border: 0;
	font-size: 0.8rem;
	outline: 0;
	padding: 8px 16px 8px 16px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
input[type='button']#resetcolorbutton, input[type='button']#configure_keyboard_shortcuts, input[type='button']#starttests {
	box-shadow: 0px 2px 6px -1px gray;
}
.shortcut{
		 list-style-type: none;
}
.shortcutline{
	display: flex;
	list-style-type: asterisks;
}
.shortcutdescription{
	flex-grow: 1;
}
.configuredshortcut{
	font-weight: bold;
}
input[type='button']:hover {
	box-shadow: 0px 2px 12px -2px gray !important;
	color: var(--global-color) !important;
}
input[type='button']:active {
	background-color: var(--global-color) !important;
	color: white !important;
}
input[type='text'], input[type='password'] {
	background: none;
	border: none;
	border-bottom: solid 1px gray;
	margin: 4px;
	opacity: 0.6;
	outline: none;
	padding: 4px;
}
input[type='text']:focus, input[type='password']:focus {
	opacity: 1;
	border-bottom: solid 1px var(--global-color);
}
select {
	border: 0;
	border-bottom: solid 1px rgba(0,0,0,.3);
	outline: none;
	margin: 4px;
	padding: 4px;
}
select:focus {
	outline: none;
}
#passwordstatus {
	padding-top: 12px;
	font-size: 130%;
	font-weight: bolder;
	color: red;
}
#passwordstatus.set {
	font-size: 130%;
	font-weight: bolder;
	color: green;
}
#overlay {
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	color: white;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
}
#overlay.showing {
	display: flex;
}
#overlaycontent {
	text-align: center;
	font-size: 300%;
	font-weight: bolder;
	flex-grow: 1;
}
.sk-cube-grid {
	width: 40px;
	height: 40px;
	margin: 50px;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #333;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
					animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
					animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
					animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
					animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
					animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
					animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
					animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
					animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
						transform: scale3D(1, 1, 1);
	} 35% {
		-webkit-transform: scale3D(0, 0, 1);
						transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
						transform: scale3D(1, 1, 1);
	} 35% {
		-webkit-transform: scale3D(0, 0, 1);
						transform: scale3D(0, 0, 1);
	}
}


.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

