<!DOCTYPE html>
<html>
	<head>
<meta charset="UTF-8">
		<script src="../../js/base/utilsdom.js"></script>
		<script src="../../js/base/utilsobject.js"></script>
		<script src="../../js/base/dialog/dialog.js"></script>
		<script src="../../js/base/dialog/input.js"></script>
		<link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" themesheet rel="stylesheet" href="../../base_styles.css"/>
		<link type="text/css" themesheet rel="stylesheet" href="../../global_styles.css"/>
		<link type="text/css" themesheet rel="stylesheet" href="../../css/dialog.css"/>
	</head>
	<body>
		<textarea id="inputElement" class="materialize-textarea"></textarea>
	</body>
</html>
