<!DOCTYPE html>
<html>
	<head>
<meta charset="UTF-8">
		<script src="../../js/base/utilsdom.js"></script>
		<script src="../../js/base/dialog/dialog.js"></script>
		<script src="../../js/base/dialog/multichoice.js"></script>
		<link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="../../global_styles.css"/>
		<link type="text/css" id="dialog_style" rel="stylesheet" href="../../css/dialog.css"/>
		<style type="text/css">
			#list{

			}
			li{
				padding: 8px;
				cursor: pointer;
				font-size: large;
			}
			li:hover{
				background: #FFB05C
			}
		</style>
	</head>
	<body>
		<ul id="list"></ul>
	</body>
</html>
