<!DOCTYPE html>
<html>
	<head>
<meta charset="UTF-8">
		<script src="../../js/aes.js"></script>
		<script src="../../js/pbkdf2.js"></script>
		<script src="../../utils.js"></script>
		<script src="../../js/gcm.js"></script>
		<script src="../../js/base/constants.js"></script>
		<script src="../../js/base/deviceIdsAndDirectDevices.js"></script>
		<script src="../../js/base/utilsdom.js"></script>
		<script src="../../js/base/utilsdevices.js"></script>
		<script src="../../js/base/utilsobject.js"></script>
		<script src="../../js/base/dialog/dialog.js"></script>
		<script src="../../js/base/dialog/notification.js"></script>
		<link rel="import" href="../../notifications.html" />
		<link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="../../global_styles.css"/>
		<link type="text/css" id="dialog_style" rel="stylesheet" href="../../css/dialog.css"/>
		<style type="text/css">
			body{
			}
			.hidden{
				display: none !important;
			}
			#notifications{
				background-color: white;
			}
		</style>
	</head>
	<body>
		<div id="notifications">notification</div>
	</body>
	<script src="../../notifications.js"></script>
</html>
