:root {
}
#notification.card {
	background-color: #607D8B;
}
.notification{
	color: white;
}
#closebutton{
	cursor: pointer;
	z-index: 80;
	transition: all 0.3s ease;
}
#closebutton:hover {
	background-color: #78909C;
}
.notificationtext{
	opacity: 0.8;
}
#date{
	opacity: 0.8;
}
.notificationbutton:hover {
	background-color: #78909C;
}
#notificationTop{
	color: white;
	opacity: 0.8;
}
#clearAllNotificationButtonIcon {
	width: 100%;
	background: url('icons/clear_all.png') center/60% 60% no-repeat;
}
