<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<div class='smsmessagecontainer' id="smsmessagecontainer">
	<div class='smsmessage' id="smsmessage">
			<div class='smsmessagesender' id="smsmessagesender">Sender</div>
			<div class='smsmessageattachment' id="smsmessageattachment"></div>
			<div class='smsmessageurgent hidden' id="smsmessageurgent">[ Urgent! ]</div>
			<div class='smsmessagesubject' id="smsmessagesubject">MESSAGE_SUBJECT</div>
			<div class='smsmessagetext' id="smsmessagetext">MESSAGE_TEXT</div>
			<div class='smsmessagebottom' id="smsmessagebottom">
				<div class='smsmessagedate' id="smsmessagedate">MESSAGE_DATE</div>
				<div class='smsmessageprogress' id="smsmessageprogress"><img class="smsloader" src="../icons/loading.gif"></img></div>
		</div>
	</div>
</div>
</body>
</html>
