:root {
	--theme-background-color-options: white;
	--theme-background-color-options-container: white;
	--theme-text-color-header2: black;
	--theme-text-color-header4: black;	
	--theme-text-color-header5: black;
}
